<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{message}}
  </h1>
 <app-test (chilAttrName)="message = $event"  [parentData]="parenName"></app-test>
<app-employeelist></app-employeelist>
<app-emplyeedetails></app-emplyeedetails>
<nav>
  <a [routerLink]="['/departments']" routerLinkActive="router-link-active" >Departments</a>
  <a [routerLink]="['/students']" routerLinkActive="router-link-active" >Students</a>
</nav>
<router-outlet></router-outlet>
